@import './global';

@mixin absoluteOverlap{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.cardStack{
    @include flexRow;
    @include flexCenter;
    border: 1px solid #000;
    border-radius: 5px;
    width: 100px;
    height: 160px;
    text-transform: capitalize;
    margin-right: 4rem;
    position: relative;

    &:last-of-type{
        margin-right: 0;
    }

    .default{
        @include flexColumn;
        @include flexCenter;
        @include absoluteOverlap;
        z-index: 0;
    }

    .cardContainer{
        @include absoluteOverlap;
        z-index: 5;
    }

    .dropContainer{
        @include absoluteOverlap;
        z-index: 10;
    }
}