.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    width: 100px;
    height: 160px;
    border-radius: 5px;
    padding: 10px;
    position: absolute;

    &:hover{
        box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 15px 25px 0 rgba(0, 0, 0, 0.19);
    }

    .topNumber{
        text-align: left;
        font-size: 1.2rem;
    }

    #{&}Image{
        text-align: center;
        width: 100%;

        img{
            width: 50%;
        }
    }

    .bottomNumber{
        text-align: right;
        font-size: 1.2rem;
    }

    &.stackedCard{
        top: -1px !important;
        left: -1px !important;
        z-index: 0 !important;
        
        &:nth-last-of-type(n+2){
            box-shadow: none;
        }
    }
}